###Modules and git scripts

In [102]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [234]:
#run this for every commit
%%bash
git commit -m "now including dataframes work" -a
git push
git status

SyntaxError: invalid syntax (<ipython-input-234-2386180cc1da>, line 2)

In [146]:
%%bash
git push

To git@github.com:Sam-Huntington/Testing.git
   ed5ee78..14f6b29  PandaPractice -> PandaPractice

In [44]:
%%bash
git branch PandaPractice
git checkout PandaPractice
git branch

In [51]:
%%bash
git add "Pandas in ten mins.ipynb"
git status

On branch PandaPractice
Changes to be committed:
  (use "git reset HEAD <file>..." to unstage)

	modified:   Pandas in ten mins.ipynb

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git checkout -- <file>..." to discard changes in working directory)

	modified:   .ipynb_checkpoints/Pandas in ten mins-checkpoint.ipynb

In [52]:
%%bash
git commit -m "pushing to new branch"
git status

[PandaPractice ed5ee78] pushing to new branch
 1 file changed, 92 insertions(+), 2 deletions(-)
On branch PandaPractice
Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git checkout -- <file>..." to discard changes in working directory)

	modified:   .ipynb_checkpoints/Pandas in ten mins-checkpoint.ipynb
	modified:   Pandas in ten mins.ipynb

no changes added to commit (use "git add" and/or "git commit -a")

In [54]:
%%bash
git push --set-upstream origin PandaPractice

Branch PandaPractice set up to track remote branch PandaPractice from origin.

To git@github.com:Sam-Huntington/Testing.git
 * [new branch]      PandaPractice -> PandaPractice

###Code Practice

In [75]:
df = pd.DataFrame(np.random.randn(10,5), index=list(range(10)), columns = list("ABCDE"))
df

          A         B         C         D         E
0 -1.814813  1.558398 -0.073125  0.566113 -0.520068
1 -1.170148 -1.259288 -0.841503 -1.090455 -1.208187
2 -0.415668 -0.495648 -1.327516  0.458929 -0.798690
3 -0.801163  1.292139 -0.055849 -0.377593  0.179477
4 -2.135014  0.417045  1.583917 -0.935545  0.617012
5 -0.077222  0.283425  0.116891 -1.414985  0.044394
6  0.947924  0.408112  0.657907  0.662357 -0.493066
7 -0.448075 -1.009685  0.139149  0.325681  0.906869
8 -0.369467  1.747157  0.342959  0.671405 -0.285360
9 -0.508568  1.870478  0.237462 -1.494234 -1.364599

In [115]:
df[:3]
df["A"]
df[2:3]
df.iloc[1,1]

-1.2592881769080537

In [58]:
df.loc[3, 'A']

1.4653812840251219

In [70]:
#rows
df.iloc[2]; df.iloc[2:5]

          A         B         C         D         E
2  0.572256 -0.169098  1.397204  1.249620 -1.191226
3  1.465381  0.433794  1.531289 -2.227304  0.254160
4  1.087839 -0.222498  0.063400  1.210815 -1.343562

In [77]:
df.iloc[[1,3,4],2]

1   -0.841503
3   -0.055849
4    1.583917
Name: C, dtype: float64

In [87]:
df[df.B>1]

          A         B         C         D         E
0 -1.814813  1.558398 -0.073125  0.566113 -0.520068
3 -0.801163  1.292139 -0.055849 -0.377593  0.179477
8 -0.369467  1.747157  0.342959  0.671405 -0.285360
9 -0.508568  1.870478  0.237462 -1.494234 -1.364599

In [123]:
k = df[(df>0)]
k

          A         B         C         D         E
0       NaN  1.558398       NaN  0.566113       NaN
1       NaN       NaN       NaN       NaN       NaN
2       NaN       NaN       NaN  0.458929       NaN
3       NaN  1.292139       NaN       NaN  0.179477
4       NaN  0.417045  1.583917       NaN  0.617012
5       NaN  0.283425  0.116891       NaN  0.044394
6  0.947924  0.408112  0.657907  0.662357       NaN
7       NaN       NaN  0.139149  0.325681  0.906869
8       NaN  1.747157  0.342959  0.671405       NaN
9       NaN  1.870478  0.237462       NaN       NaN

In [124]:
math.isnan(k.iloc[0,0])
#df.iloc[0,0]

True

In [156]:
k2 = k.copy()
k2[k2>1] = -k2
k2.fillna(int(5))
#k2[k2>1]
type(k2.iloc[0,0])
pd.isnull(k2)
pd.notnull(k2)

       A      B      C      D      E
0  False   True  False   True  False
1  False  False  False  False  False
2  False  False  False   True  False
3  False   True  False  False   True
4  False   True   True  False   True
5  False   True   True  False   True
6   True   True   True   True  False
7  False  False   True   True   True
8  False   True   True   True  False
9  False   True   True  False  False

In [185]:
k2.mean(0)

A    0.947924
B   -0.765656
C   -0.014925
D    0.536897
E    0.436938
dtype: float64

In [198]:
df3

          A         B         C         D         E
3 -0.801163  1.292139 -0.055849 -0.377593  0.179477
4 -2.135014  0.417045  1.583917 -0.935545  0.617012
5 -0.077222  0.283425  0.116891 -1.414985  0.044394
6  0.947924  0.408112  0.657907  0.662357 -0.493066
7 -0.448075 -1.009685  0.139149  0.325681  0.906869
8 -0.369467  1.747157  0.342959  0.671405 -0.285360
0 -1.814813  1.558398 -0.073125  0.566113 -0.520068
1 -1.170148 -1.259288 -0.841503 -1.090455 -1.208187
2 -0.415668 -0.495648 -1.327516  0.458929 -0.798690

In [197]:
pieces = [df[3:9],df[:3]]
df3 = pd.concat(pieces)
df3.sort_index(axis=0)

          A         B         C         D         E
0 -1.814813  1.558398 -0.073125  0.566113 -0.520068
1 -1.170148 -1.259288 -0.841503 -1.090455 -1.208187
2 -0.415668 -0.495648 -1.327516  0.458929 -0.798690
3 -0.801163  1.292139 -0.055849 -0.377593  0.179477
4 -2.135014  0.417045  1.583917 -0.935545  0.617012
5 -0.077222  0.283425  0.116891 -1.414985  0.044394
6  0.947924  0.408112  0.657907  0.662357 -0.493066
7 -0.448075 -1.009685  0.139149  0.325681  0.906869
8 -0.369467  1.747157  0.342959  0.671405 -0.285360

In [210]:
left = df.ix[:,0:2]; right = df.ix[:,2:]
right

          C         D         E
0 -0.073125  0.566113 -0.520068
1 -0.841503 -1.090455 -1.208187
2 -1.327516  0.458929 -0.798690
3 -0.055849 -0.377593  0.179477
4  1.583917 -0.935545  0.617012
5  0.116891 -1.414985  0.044394
6  0.657907  0.662357 -0.493066
7  0.139149  0.325681  0.906869
8  0.342959  0.671405 -0.285360
9  0.237462 -1.494234 -1.364599

In [233]:
together = [left,right]
#together[0]
#pd.concat([left,right], axis=1)
#right.index
#pd.merge(left, right, on='index')
#tog = left.append(right)
#tog
pd.concat(together,axis=1)

          A         B         C         D         E
0 -1.814813  1.558398 -0.073125  0.566113 -0.520068
1 -1.170148 -1.259288 -0.841503 -1.090455 -1.208187
2 -0.415668 -0.495648 -1.327516  0.458929 -0.798690
3 -0.801163  1.292139 -0.055849 -0.377593  0.179477
4 -2.135014  0.417045  1.583917 -0.935545  0.617012
5 -0.077222  0.283425  0.116891 -1.414985  0.044394
6  0.947924  0.408112  0.657907  0.662357 -0.493066
7 -0.448075 -1.009685  0.139149  0.325681  0.906869
8 -0.369467  1.747157  0.342959  0.671405 -0.285360
9 -0.508568  1.870478  0.237462 -1.494234 -1.364599